WBA2_Phase2/src/Phase2SchemaProfil.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="profile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="profil" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="user">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="5"/>
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>


                            <xs:element type="xs:string" name="profilbild"/>
                            <xs:element name="beschreibung">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="150"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="filtercontainer">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="filter" maxOccurs="unbounded"
                                            minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="serie"
                                                  maxOccurs="unbounded" minOccurs="0"/>
                                                  <xs:element name="genre" minOccurs="0">
                                                  <xs:complexType>
                                                  <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                  <xs:attribute type="xs:string"
                                                  name="welcheanzeigen" use="required"/>
                                                  </xs:extension>
                                                  </xs:simpleContent>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:ID" name="id" use="required"
                                                />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="abos">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="serien">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="serie"
                                                  maxOccurs="unbounded" minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="genres">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="genre" maxOccurs="unbounded"
                                                  minOccurs="0">
                                                  <xs:complexType>
                                                  <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                  <xs:attribute type="xs:string"
                                                  name="welcheanzeigen" use="required"/>
                                                  </xs:extension>
                                                  </xs:simpleContent>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:ID" name="id" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
